
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:21px;
	color:#888888;
	text-shadow:1px 1px 1px #FFFFFF;
	background: url("../img/groovepaper.html") repeat;
	padding-bottom: 1px;

}


